*{
    margin: 0;
    padding: 0;
}

.navbar-dark{
    background-color: rgb(26, 182, 26);
}
.navbar-nav{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:xx-large;
    letter-spacing: 8px;
}

.container{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#img1-h5, #img2-h5, #img3-h5{
    top: 0%;
    bottom: auto;
    zoom: 350%;
}

p{
    zoom: 200%;
}

.arrow{
  position: absolute;
  left: 50%;
  top: 70%;
  margin-left:-20px;
  
}

#icon{
    display: block;
    width: 80px;
    height:80px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.col-sm-7{
  border-radius: 10%;
  padding: 10px;
}
#about-us{
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  
  }
  .about-pic {
    background-color: #ffa500;
    width: 100%;
    padding: 20px 30px 95px;
  }
  .content{
    width: 100%;
    background-color: #ffa500;
    float: right;
    text-align: justify;
    overflow-x: hidden;
    font-weight: 100;
    font-size: xx-small;
    padding: 20px 30px 40px;
  }

  #variety-h2{
    padding-top: 30px;
    align-items: center;

  }
  .d-flex{
    display: flex !important;
  }
  .text h5{
    font-size: 25px;
    padding: 30px;
  }
  .button{
    border-radius: 10px;
  }
  .card-title{
    text-align: center;
    color: green;
    font-weight: 800;
  }
  .controls-top h2{
    color: rgb(5, 172, 5);
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
  }
  .col-md-4{
    border-radius: 10%;
    padding: 10px;
  }