*{
    margin: 0;
    padding: 0;
}

.navbar-dark{
    background-color: rgb(26, 182, 26);
}
.navbar-nav{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:xx-large;
}