*{
    margin: 0;
    padding: 0;
}

.navbar-dark{
    background-color: rgb(26, 182, 26);
}
.navbar-nav{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:xx-large;
    letter-spacing: 8px;
}

.container{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#img1-h5, #img2-h5, #img3-h5{
    top: 0%;
    bottom: auto;
    zoom: 650%;

}
